body{
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}
/*jab 0 likhna hai toh px likhne ka jarurat nhi*/
h1{
  color: #66BFBF;
  font-size: 5.625rem;/*16px=100%=1em  --> 562% is 90px --> best is to use rem*/
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
}
hr{
  border-style: dotted none none none;
  border-color: grey;
  border-width: 5px;
  width: 75%;
  margin-top: 20px;
}
h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
  font-weight: normal;
}
h3{
  font-family: 'Montserrat', sans-serif;
  color:#66BFBF;
}

a{
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}
a:hover{
  color: #EAF6F6;
}

.copyright{
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}
.middle-container{
  margin: 100px 0;
}
/*to style a class put dot first followed by class name*/
.coding{
  width:35%;
  float: left;
  margin-right: 30px;
}
p{
  line-height: 2;
}
.football{
  width: 30%;
  float: right;
  margin-left: 30px;
}

.top-container{
  background-color: #E4F9F5;
  position: relative;
  padding-top: 100px;
}
/* by using clear we are anti floating it .
   clear left matlab pura left chala jaega apna div k
.code-skill-description{
  clear: left;
}
*/
.bottom-container{
  background-color: #66BFBF;
  padding: 50px 0 20px;
}
.temp{
  margin-bottom: 50px;
  width: 30%;
  margin: auto;
}
.skill-row{
  width:50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}
.pro{
  text-decoration: underline;
}
.top-cloud{
  position: absolute;
  right: 300px;
  top: 50px;

}
.bottom-cloud{
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.btn{
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
